asgiref
attrs
bleach
boto3
botocore
cachetools
certifi
charset-normalizer
defusedxml
dj-database-url
django
django-allauth
django-cors-headers
django-environ
django-js-asset
django-prose-editor
django-sesame
django-storages
django-valkey>=0.4.0
django-summernote
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
googleapis-common-protos
gspread
gunicorn
h11
httplib2
idna
jmespath
nh3
nicknames
numpy
oauthlib
outcome
packaging
pillow
proto-plus
protobuf
psycopg2
pyasn1
pyasn1-modules
pyparsing
pysocks
python-dateutil
python3-openid
pytz
rapidfuzz
requests
requests-oauthlib
rsa
s3transfer
selenium
six
sniffio
sortedcontainers
sqlparse
stripe
thefuzz
trio
trio-websocket
typing-extensions
uritemplate
urllib3
webencodings
websocket-client
wsproto